DATABASE_URL=postgres://user:password@localhost:5432/dbname
GOOGLE_CLIENT_ID="104000000000000000000"
GOOGLE_CLIENT_SECRET="sk-104000000000000000000"
GITHUB_CLIENT_ID="104000000000000000000"
GITHUB_CLIENT_SECRET="sk-104000000000000000000"
DISCORD_CLIENT_ID="104000000000000000000"
DISCORD_CLIENT_SECRET="sk-104000000000000000000"
BETTER_AUTH_SECRET="<your-secret-key>"
BETTER_AUTH_URL="<base-url>"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="<key-goes-here>"
BASE_URL="<your-url>"`
RESEND_API_KEY="<resend-api-key>"
RESEND_EMAIL_ADDRESS="<your-resend-email-address>"
